main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  background-size: cover;
  align-content: center;
  position: relative;
  gap: 20px;
  justify-content: center;
  height: 850px;
  background-color: #6b705c;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

img {
  display: flex;
  flex-direction: column;
}

p {
  display: flex;
  padding: 0.3px;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  border: solid 5px #cb997e;
  border-radius: 15px;
  margin: 10%;
}

button {
  margin: 10%;
  font-family: 'Quicksand', sans-serif;
}
